.Ticket {
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  max-width: 502px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #4a4a4a;
  @media (max-width: 768px) {
    min-width: 350px;
  }
  @media (max-width: 350px) {
    min-width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    color: #2196f3;
    font-size: 24px;
    font-weight: 500;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__cities {
    color: #a0b0b9;
  }

  &__time {
    font-weight: 500;
  }

  &__way {
    color: #a0b0b9;
    text-transform: uppercase;
  }

  &__timeLength {
    font-weight: 500;
  }

  &__stops-count {
    color: #a0b0b9;
    text-transform: uppercase;
  }

  &__stops-cities {
    font-weight: 500;
  }

  &__logo {
    height: 36px;
    width: 99px;
  }
}
